<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wenbronk.mybatis05.many2many.mapper.UserMapper">

    <resultMap id="selectUserMap" type="user">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>

        <collection property="roles" ofType="role">
            <id property="id" column="rid"/>
            <result property="roleName" column="ROLE_NAME"/>
            <result property="roleDesc" column="ROLE_DESC"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="selectUserMap">
        select u.*, r.id as rid, r.ROLE_NAME, r.ROLE_DESC
        from user as u
                 left join user_role as ur
                           on u.id = ur.UID
                 left join role as r
                           on r.id = ur.RID
    </select>

</mapper>