<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wenbronk.mybatis04.one2many.mapper.UserMapper">

    <sql id="selectAllColumn">
        select * from user
    </sql>

    <select id="findAll" resultType="user" >
        <include refid="selectAllColumn"></include>
    </select>

<!--    <resultMap id="user2Account" type="user">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="address" column="address"/>-->
<!--        <result property="sex" column="sex"/>-->
<!--        <result property="brithday" column="brithday"/>-->
<!--&lt;!&ndash;        property 是java中属性名&ndash;&gt;-->
<!--        <collection property="accounts" ofType="account" >-->
<!--            <id property="id" column="aId" />-->
<!--            <result property="uid" column="uid"/>-->
<!--            <result property="money" column="money"/>-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <select id="findOne2Many" resultMap="user2Account">-->
<!--        select u.*, a.id as aId, a.uid, a.money-->
<!--        from user as u-->
<!--        left join account as a-->
<!--            on a.uid = u.id-->
<!--    </select>-->

    <resultMap id="user2Account" type="user">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="address" column="address"/>
        <result property="sex" column="sex"/>
        <result property="brithday" column="brithday"/>
        <!--        property 是java中属性名-->
        <collection property="accounts" ofType="account" column="id"
                    select="com.wenbronk.mybatis04.one2many.mapper.AccountMapper.selectFromAccountById"/>
    </resultMap>

    <select id="findOne2Many" resultMap="user2Account">
        select * from user
    </select>

    <select id="selectFromUserById" resultType="user">
        select * from user where id = #{id}
    </select>

</mapper>